html, body {
  margin: 0;
  padding: 0;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: minecraftia;
  src: url(https://dl.dropbox.com/s/qrro6u0lx00x66j/Minecraftia-Regular.ttf?);
}

.mistranslationBox {
  font-family: minecraftia;
}

.editableBox {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  overflow-y: auto;
  padding: 8px;
  white-space: pre-wrap;
  font-family: sans-serif;
}